@font-face {
  font-family: "Nexa Heavy";
  src: url(../fonts/NexaHeavy.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/NexaBold.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/NexaLight.otf);
}

@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.woff2);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Kommissar Condensed";
  src: url(../fonts/KommissarCondensed-Medium.woff2);
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

.tiny-slider-wrap .tns-outer {
  position: relative;
}

.tiny-slider-wrap [data-controls] {
  border: 0;
  padding: 0;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  background: transparent;
}

.tiny-slider-wrap [data-controls="prev"] {
  left: 20px;
  rotate: 180deg;
}

.tiny-slider-wrap [data-controls="next"] {
  right: 80px;
}

/* .top_arrows .tns-controls {
  display: flex;
  justify-content: end;
  position: relative;
  top: -40px;
  z-index: 20;
} */

.top_arrows [data-controls="next"] {
  margin-left: 20px;
}

.top_arrows .tns-controls {
  padding-right: 80px;
}

.tns-nav,
.tns-outer [data-action="stop"],
.tns-outer [data-action="start"] {
  display: none;
}

@media (max-width: 600px) {
  [data-controls="prev"],
  [data-controls="next"] {
    width: 30px;
  }
}

/**
video slider home page 
*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_container .swiper {
  width: 100%;
  height: 325px;
  margin-left: auto;
  margin-right: auto;
}

.video_container .swiper-slide {
  background-size: cover;
  background-position: center;
}

.video_container .mySwiper2 {
  height: 60%;
  width: 100%;
}

.video_container .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.video_container .mySwiper .swiper-slide img {
  height: 70%;
}

.video_container .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.video_container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after,
.basicSwiper .swiper-button-next::after,
.basicSwiper .swiper-button-prev::after,
.featuredSwiper .swiper-button-next::after,
.featuredSwiper .swiper-button-prev::after {
  content: "";
}

.video_container .swiper-button-next,
.video_container .swiper-button-prev {
  top: 110px;
}

.swiper-scrollbar {
  background: #d6d6d6;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  border-radius: 2px;
  height: 5px;
  width: 300px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-scrollbar-drag {
  width: 135px !important;
}

@media (min-width: 1200px) {
  .video_container .mySwiper {
    height: 325px;
  }
}

@media (max-width: 768px) {
  .video_container .swiper-slide img {
    height: 70%;
  }

  .video_container .swiper-button-next,
  .video_container .swiper-button-prev,
  .swiper-scrollbar,
  .basicSwiper .swiper-button-next,
  .basicSwiper .swiper-button-prev,
  .featuredSwiper .swiper-button-next,
  .featuredSwiper .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 460px) {
  .video_container .swiper-slide img {
    height: 65%;
  }
}

/**
Basic Swiper home page css
**/
