@font-face {
  font-family: "Nexa Heavy";
  src: url(../fonts/NexaHeavy.otf);
}

@font-face {
  font-family: "Nexa Bold";
  src: url(../fonts/NexaBold.otf);
}

@font-face {
  font-family: "Nexa Black";
  src: url(../fonts/NexaBlack.otf);
}

@font-face {
  font-family: "Nexa Light";
  src: url(../fonts/NexaLight.otf);
}

@font-face {
  font-family: "Nexa Regular";
  src: url(../fonts/NexaRegular.otf);
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.woff2);
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Kommissar Condensed";
  src: url(../fonts/KommissarCondensed-Medium.woff2);
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: "Ubuntu Regular";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url(../fonts/Ubuntu-Medium.ttf);
}

/**
Navigation Game Page 
**/

.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background-color: transparent;
  transition: background-color 0.3s;
}

.nav-item:hover::after {
  background-color: #ffc107; /* Your yellow color */
}

.home_banner {
  background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.9) 41.15%,
      rgba(0, 0, 0, 0.9) 60.42%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(/assets/src/images/home_banner.png) lightgray 50% / cover no-repeat;
}

.subscribe_block_home {
  background: url(/assets/src/images/home_banner.png) lightgray 50% / cover
    no-repeat;
  box-shadow: 0px 0px 200px 0px rgba(255, 191, 0, 0.04);
}

@media (max-width: 768px) {
  .home_banner {
    background: radial-gradient(
        132.18% 50% at 50% 50%,
        rgba(0, 0, 0, 0.88) 33.85%,
        rgba(0, 0, 0, 0.67) 65.1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(/assets/src/images/home_banner.png) lightgray 0px -4.985px / 100% 127.544%
        no-repeat;
  }

  .subscribe_block_home {
    background: url(/assets/src/images/home_banner.png) lightgray 0.5% / cover
      no-repeat;
    box-shadow: 0px 0px 200px 0px rgba(255, 191, 0, 0.04);
  }
}

.learngame_bg {
  background: linear-gradient(
    215deg,
    rgba(155, 155, 155, 0.12) 2.22%,
    rgba(68, 67, 67, 0.12) 99.87%
  );
}

/**
video slider home page 
*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video_container .swiper {
  width: 100%;
  height: 375px;
  margin-left: auto;
  margin-right: auto;
}

.video_container .swiper-slide {
  background-size: cover;
  background-position: center;
}

.video_container .mySwiper2 {
  height: 60%;
  width: 100%;
}

.video_container .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

/* .video_container .mySwiper .swiper-slide img {
  height: 70%;
} */

.video_container .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.video_container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-next::after,
.mySwiper .swiper-button-prev::after,
.basicSwiper .swiper-button-next::after,
.basicSwiper .swiper-button-prev::after,
.featuredSwiper .swiper-button-next::after,
.featuredSwiper .swiper-button-prev::after,
.learngameSwiper .swiper-button-next::after,
.learngameSwiper .swiper-button-prev::after {
  content: "";
}

.video_container .swiper-button-next,
.video_container .swiper-button-prev {
  top: 110px;
}

@media (min-width: 991px) {
  .video_container .mySwiper {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .video_container .mySwiper {
    height: 325px;
  }
}

@media (max-width: 991px) {
  .swiper-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .video_container .swiper-slide img {
    height: 70%;
  }

  .video_container .swiper-button-next,
  .video_container .swiper-button-prev,
  .swiper-scrollbar,
  .basicSwiper .swiper-button-next,
  .basicSwiper .swiper-button-prev,
  .featuredSwiper .swiper-button-next,
  .featuredSwiper .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 460px) {
  .video_container .swiper-slide img {
    height: 65%;
  }
}

.gradient-searchbtn {
  background-image: linear-gradient(
    80deg,
    #f0b400 3.98%,
    #ffd558 54.19%,
    #ffbf00 100%
  );
}

.nav-bg {
  background: linear-gradient(180deg, #282e38 0%, #1d2129 100%);
}

.basicSwiper {
  padding-bottom: 40px;
}

.basicSwiper .swiper-pagination-bullet,
.mySwiper .swiper-pagination-bullet {
  background: #576276;
  border: 0;
  border-radius: 2.5px;
  display: inline-block;
  height: 3px;
  margin: 3px;
  padding: 0;
  position: relative;
  transition: background-color 0.2s linear;
  width: 90px;
}

.basicSwiper .swiper-pagination-bullet-active,
.mySwiper .swiper-pagination-bullet-active {
  background: #ffc107;
}

@media (max-width: 768px) {
  .basicSwiper {
    padding-bottom: 0px;
  }

  .basicSwiper .swiper-pagination,
  .mySwiper .swiper-pagination {
    display: none;
  }
}

/** Featured Games Slider **/

.featuredSwiper .swiper-horizontal > .swiper-pagination-progressbar,
.featuredSwiper .swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 70%;
  left: 50%;
  top: unset;
  bottom: 0;
  transform: translateX(-50%);
  background: #576276;
}

.featuredSwiper
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: #ffc107 !important;
}

.featuredSwiper {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .featuredSwiper .swiper-pagination-progressbar {
    display: none;
  }
}
